@import "variable";
@import "anim";
@import "user";

html, body {
  font-size: 62.5%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.p1 {
  padding: 1rem;
}

.p0 {
  padding: 0 !important;
}

.post-author {
  display: flex;
  align-items: center;
  position: relative;
  color: @date-color !important;

  > .username {
    font-size: 1.2rem;
  }
}

.sticky {
  position: sticky;
  bottom: 0;
}

.sticky[stuck] {
  box-shadow: 0 2px 20px rgb(0 0 0 / 35%);
}

a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.base-loading {
  @c: #00000033;
  //@c: transparent;
  @b: #000;
  border: 2px solid;
  border-color: @b @c @c @c;
  border-radius: 100%;
  animation: circle infinite 1s linear;
}

.loading-c {
  .base-loading();
  width: 3rem;
  height: 3rem;
}

.loading-b {
  .base-loading();
  @c: rgba(178, 177, 177, 0.2);
  @b: #ffffff;
  border-color: @b @c @c @c;
  width: 3rem;
  height: 3rem;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  cursor: pointer;
  padding: .4rem 2.4rem;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background: @blue-color;
  border: 1px solid @blue-color;
  user-select: none;

  &:hover {
    opacity: .9;
  }

  &.info {
    color: black;
    border: 1px solid @blue-color;
    background: white;
  }

  &.gray {
    color: whitesmoke;
    border: 1px solid @main-color;
    background: @main-color;
  }

  &.light {
    color: gray;
    border: 1px solid @bg-color;
    background: @bg-color;
  }

  &::before {
    content: ' ';
    .base-loading();
    @c: transparent;
    @b: #fff;
    border-color: @b @c @c @c;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    display: none;
  }

  &.loading {
    cursor: not-allowed;
    opacity: .5;

    &::before {
      display: block;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: rgb(198, 198, 198);
    background: rgb(141, 141, 141);
    border: 1px solid transparent;
  }

  &.isNight {
    color: rgb(198, 198, 198);
    background: rgb(43, 64, 84);
    border: 1px solid transparent;
  }
}

.tool {
  position: relative;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: .2rem;
  cursor: pointer;
  height: 3rem;
  padding: 0 .5rem;

  &::before {
    content: ' ';
    .base-loading();
    @c: @tool-color;
    @b: transparent;
    border-color: @b @c @c @c;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    display: none;
  }

  &.loading {
    cursor: not-allowed;
    opacity: .5;

    &::before {
      display: block;
    }

    &:hover {
      background: unset;
    }
  }

  > svg {
    @w: 1.6rem;
    width: @w !important;
    height: @w !important;
    margin-right: .4rem;
    box-sizing: border-box;
    border-radius: .2rem;
  }

  span {
  }

  &:hover {
    background: rgb(232, 232, 232);
  }

  &.no-hover {
    cursor: default;

    &:hover {
      background: unset;
    }
  }
}

.my-node {
  border-radius: .2rem;
  padding: .4rem;
  font-size: 1rem;
  color: #999;
  background: #f5f5f5;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: #e2e2e2;
  }
}

.msgs {
  position: fixed;
  margin-left: calc(50% - 25rem);
  width: 50rem;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
}

.msg {
  cursor: default;
  margin-bottom: 2rem;
  background: white;
  display: flex;
  color: black;
  font-size: 1.4rem;
  box-sizing: border-box;
  border-radius: @border-radius;
  box-shadow: 0 0 1rem 1px silver;

  &.success {
    .left {
      background: @blue-color;
    }
  }

  &.warning {
    .left {
      background: #c8c002;
    }
  }

  &.error {
    .left {
      background: red;
    }
  }

  .left {
    border-radius: @border-radius 0 0 @border-radius;
    display: flex;
    align-items: center;
    background: @blue-color;

    svg {
      margin: 0 .3rem;
      cursor: pointer;
    }
  }

  .right {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.line {
  border-bottom: 1px solid @border;
}

.my-box {
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  border-radius: @border-radius;
  background: white;
  margin-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.my-cell {
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: left;
  border-bottom: 1px solid @border;
}

.f14 {
  font-size: 1.4rem;
}

.switch {
  width: 4.5rem;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: all .3s;

  &.light {
    border: 1px solid @bg-color;

    &.active {
      background: @bg-color;

      &::before {
        right: .2rem;
        background: white;
      }
    }

    &::before {
      background: @bg-color;
    }
  }

  &.gray {
    border: 1px solid @date-color;

    &.active {
      background: @date-color;

      &::before {
        right: .2rem;
        background: white;
      }
    }

    &::before {
      background: @date-color;
    }
  }

  &.isNight {
    @night-color: rgb(49, 71, 94);
    border: 1px solid @night-color;

    &.active {
      background: @night-color;

      &::before {
        right: .2rem;
        background: gray;
      }
    }

    &::before {
      background: @night-color;
    }
  }

  &::before {
    position: absolute;
    content: ' ';
    transition: all .3s;
    @w: 1.8rem;
    right: calc(100% - @w - .2rem);
    //left: .2rem;
    width: @w;
    height: @w;
    border-radius: 50%;
  }
}

.modal {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
  }

  .mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(black, .3);
  }
}

.radio-group2 {
  display: inline-flex;
  border-radius: .5rem;
  overflow: hidden;
  @border: rgb(226, 226, 226);
  border: 1px solid @border;

  .radio {
    cursor: pointer;
    background: transparent;
    padding: 0.4rem 1rem;
    border-left: 1px solid @border;
    color: #9ca1a4;
    font-size: 1.2rem;

    &:first-child {
      border-left: none;
    }
  }

  .active {
    background: @border;
    color: gray;
  }

  &.isNight {
    @border: rgb(69, 72, 71);
    border: 1px solid @border;

    .radio {
      border-left: 1px solid @border;
      color: white;
    }

    .active {
      background: rgb(49, 71, 94);
    }
  }
}

.pop-confirm {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.tip {
  position: fixed;
  //word-break: keep-all;
  background: black;
  color: white;
  max-width: 10rem;
  padding: .7rem 1rem;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  z-index: 999;
}

input {
  height: 3rem;
  outline: unset;
  border: 1px solid #e1e1e1;
  padding: 0 .5rem;
  border-radius: 5px;
  box-sizing: border-box;
}